@import 'tailwindcss';

.heading {
    text-align: center;
    font-size: 24px;
    font-family: monospace;
    width: 100%;
    border-bottom: 1px solid black;
}

.sidebar {
    margin-top: 60px;
    width: 30%;
    background-color: pink;
    position:fixed;
    height: 100%;
    border: 5px solid white;
    border-radius: 10px;
}

.content {
    margin-top: 60px;
    position: fixed;
    height: 100vh;
    width: 70%;
    margin-left: 30%;
    padding: 1px 16px;
    background-color: pink;
    border: 5px solid white;
    border-radius: 10px;
    overflow-y:scroll;
}

.sidebar-icon {
    height:80px;
    border-bottom: 1px solid white;
    display:block;
    padding: 16px;
    font-family: monospace;
    font-size: 16px;
}

.sidebar-icon:hover{
    background-color: gray;
    color: white;
}

.sidebar-icon:active{
    background-color: gray;
    color: white;
}

table,
form {
    width: 100%;
    margin: auto;
    font-family: monospace;
    font-size: 16px;
    max-width: 1600px;
}

th,
td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid gray;
}

tbody tr:hover {
    background-color: gray;
    color: white;
}

form input,
textarea,
select {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 2px;
    box-shadow: 10px;
    background-color: white;
    box-shadow: 1px 1px 2px;
}

form section {
    padding: 10px 0;
}

button {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    box-shadow: 1px 1px 2px;
    width: 200px;
}

button:hover {
    background-color: gray;
    color: white;
}

.platforms label {
    padding-left: 10px;
}

.create-listing {
    position: absolute;
    right: 115px;
    padding: 10px;
    background-color: pink;
}

.menu-bar {
    width: 100%;
    height: 60px;
    background-color: white;
    position: absolute;
}

.menu-functions {
    /* right: 210px; */
    margin: 5px;
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: pink;
    border-radius: 50%;
}

.analytics-row1 {
    height: 150px;
    width: 33%;
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px;
    font-family: monospace;
    overflow:clip;
}

.analytics-row2 {
    height: 300px;
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px;
    font-family: monospace;
}

.home-row1-icon {
    /* height:150px; */
    /* background-color: white; */
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: 1px 1px 2px;
}

.home-heading {
    margin: 10px;
    font-family: monospace;
    font-size: 20px;
    font-weight: bold;
}

.home-paragraph {
    margin: 10px;
    font-family: monospace;
    font-size: 14px;
}