@import 'tailwindcss';

@theme {
    --color-lightpink: #ffdde2;
    --color-shadedpink: #f1b5bc;
    --color-bubblegum: #ffcbd3;
    --color-dustyrose: #d8a7b1;
    --color-sagegreen: #c4d7b2;
}

body {
    @apply font-mono;
}

input,
textarea,
select {
    @apply bg-white border-1 border-gray-500 rounded-sm px-[5px] hover:shadow;
}

.form-button {
    @apply bg-sagegreen border-1 border-gray-500 rounded-sm shadow p-[5px] text-black hover:bg-dustyrose hover:text-white;
}

.content {
    @apply flex-1 min-h-[calc(100vh-60px)] border-r-[2px] border-b-[2px] border-t-[2px] border-green-50 bg-lightpink py-[30px] px-[20px] overflow-hidden rounded-lg;
}

.content-full{
    @apply mt-[60px] min-h-[calc(100vh-60px)] border-[2px] bg-lightpink fixed rounded-lg w-full border-green-50 pt-[50px];
}

table,
form {
    width: 100%;
    margin: auto;
    font-size: 16px;
    max-width: 1600px;
}

th,
td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid gray;
}

tbody tr:hover {
    background-color: gray;
    color: white;
}

.create-listing {
    position: absolute;
    right: 115px;
    padding: 10px;
    background-color: rgb(255, 221, 226);
}

.analytics-row2 {
    height: 300px;
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px;
}

.home-row1-icon {
    /* height:150px; */
    /* background-color: white; */
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: 1px 1px 2px;
}
